apiVersion: app/v1
kind: Deployment
metadata:
  name: self-healing-app
spec:
  replicas: 2
  selector:
     matchLabels:
       app: self-healing
   template:
     metadata:
       labels:
         app: self-healing
     spec:
       containers:
         name: app
         image: self-healing-app
         imagePullPolicy: Never
         ports:
         - containerPort: 5000
         livenessProbe:
           httpGet:
             path: /health
             port: 5000
           initialDelaySeconds: 15
           periodSeconds: 10
           failureThreshold: 3


         readinessProbe:
           httpGet:
             path: /health
             port: 5000
           initialDelaySeconds: 5
           periodSeconds: 5
